body {
    opacity: 0.8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f24343;
    opacity: 0.9;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier";
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #969494;
}
    
    .logo {
        text-align: center;
        color:#f24343;
        font-size:40px;
        font-family: "Courier"; 
    }
    span {
        border-color:  white;
        border-style: solid;
        border-width: 2px;
        background-color: white;

    }
    button.OFF {
        background-color: Red;
        color: White;
        font-family:"Courier";
        font-size:10px;
        width: 30px;
        height: 25px;
        border-color: black ;

    }
    button.ON {
        color: white;
        background-color: Green;
        font-family:"Courier";
        font-size:10px;
        width: 30px;
        height: 25px;
        border-color: black ;
    }
    #firstparagraph{
        text-align: center;
}

.LOGOSF{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier"
}

.picturetool{
    background-color: #f24343;
    overflow: auto;
    float: left;
    color: white;
    font-size: 36px;
    



}

.picturetool2{
    background-color: #969494;
    overflow: auto;
    float: left;
    color: white;
    font-size: 36px;

    }

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;

}

td {
    text-align: left;
    padding: 8px;
    font-family: "Trebuchet MS"
}
th {
    text-align: left;
    padding: 8px;
    background-color: rgba(255,255,255,0.8);
    color: #f24343;
    font-family: "Courier"
}

tr:nth-child(even){background-color: #f24343
}


.temp{
   text-align: left;
   border-color: transparent;
        background-color:rgba(255,255,255,0.2);
        color:#f24343;
        font-size:26px;
        font-family: "Courier";  
}
.usernametext{
    text-align: center;
}

body {
    background-image: url("bg.jpg");
    opacity: 0.8;

}
.thestarter {
    background-color: rgba(255,255,255,0.7);
    border-bottom-color:#f24343;
    border-bottom-width: 10px;
    border-top-color: rgba(255,255,255,0.1);
    border-left-color: rgba(255,255,255,0.1);
    border-right-color: rgba(255,255,255,0.1);
    font-weight: bold;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
   

}
#thefirststate{
     text-align: left;
   border-color: transparent;
        background-color:rgba(255,255,255,0.1);
        color:#f24343;
        font-size:26px;
        font-family: "Courier";  
}
#thiswillrefresh{
    text-align: left;
   border-color: transparent;
        background-color:rgba(255,255,255,0.1);
        color:#f24343;
        font-size:26px;
        font-family: "Courier"; 
}
#signature{
    font-family: "Courier";
    color: #f24343;
    margin-left: 900px;
    

}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
#tempstate{
    color: #f24343; 
    background-color: rgba(255,255,255,0.1); 
    border-color: transparent;
    font-family: "Courier";

}
#textbox{
    background-color: red;
    border-color: black;
}