<!DOCTYPE html>
<html lang="en">
<ul>
  <li class="picturetool"><img src="../static/home.png" alt="Home" style=" height:20px; width: 20px; margin-top: 15px;">
  <li><a href="/">Home</a></li>
  <li class="picturetool"><img src="../static/About.png" alt="Home" style=" height:20px; width: 20px; margin-top: 15px;">
  <li><a href="/about">About</a></li>
  <li class="picturetool"><img src="../static/Members.png" alt="Home" style=" height:20px; width: 20px; margin-top: 15px;">
  <li><a href="/members">Members</a></li>
  <li class="picturetool2"><img src="../static/Idea.png" alt="Home" style=" height:20px; width: 20px; margin-top: 15px;">
  <li><a class="active" href="/mainidea">Our Main Idea</a></li>
  <li class="LOGOSF">THE SMART ROOM PROJECT</h1></a></li>
</ul>

</body>
</html>