<head>

  <!-- jQuery is required for important messages popup -->
  <script type="text/javascript" src="/static/shared/scripts/jquery-1.8.3.min.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="Sun, 7 May 1995 12:00:00 GMT">
    <meta http-equiv="Pragma" content="no-cache">
    <title>UBC Student Service Centre</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
   
   <link rel="stylesheet" type="text/css" href="/static/ssc/css/ssc.css?v=20220712170456" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/admissions/stylesheets/smoothness/jquery-ui-1.8.14.custom.css" />
    
    <!-- Stylesheets -->
    <link href="../static/ubc-clf-full.min.css" rel="stylesheet">
    <link href="../static/unit.css" rel="stylesheet">
    <!--[if lte IE 7]>
    <link href="/static/ubcclf/7.0.4/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/ubcclf/7.0.2/html5shiv.min.js"></script>
    <![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ubcclf/7.0.4/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ubcclf/7.0.4/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ubcclf/7.0.4/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ubcclf/7.0.4/img/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <div class="container">

 
        <!-- UBC Global Utility Menu -->
        <div class="collapse expand" id="ubc7-global-menu">
            <div id="ubc7-search" class="expand">
                <div id="ubc7-search-box">
                    <form class="form-search" method="get" action="//www.ubc.ca/search/refine/" role="search">
                        <input type="text" name="q" placeholder="Search Student Services" class="input-xlarge search-query">
                        <input type="hidden" name="label" value="Search Student Services" />
                        <input type="hidden" name="site" value="students.ubc.ca" />
                        <button type="submit" class="btn">Search</button>
                    </form>
                </div>
            </div>
            <div id="ubc7-global-header" class="expand">
                <!-- Global Utility Header from CDN -->
            </div>
        </div>
        <!-- End of UBC Global Utility Menu -->
        <!-- UBC Header -->
        <header id="ubc7-header" class="row-fluid expand" role="banner">
            <div class="span1">
                <div id="ubc7-logo">
                    <a href="//www.ubc.ca">The University of British Columbia</a>
                </div>
            </div>
            <div class="span2">
                <div id="ubc7-apom">
                    <a href="//cdn.ubc.ca/clf/ref/aplaceofmind">UBC - A Place of Mind</a>                        
                </div>
            </div>
            <div class="span9" id="ubc7-wordmark-block">
                <div id="ubc7-wordmark">
                    <a href="//www.ubc.ca">The University of British Columbia</a>
                </div>
                <div id="ubc7-global-utility">
                    <button type="button" data-toggle="collapse" data-target="#ubc7-global-menu"><span>Student Grade Service Centre Search</span></button>
                    <noscript><a id="ubc7-global-utility-no-script" href="//www.ubc.ca/">Student Grade Service Centre Search</a></noscript>
                </div>
            </div>
        </header>
        <!-- End of UBC Header -->
        <!-- UBC Unit Identifier -->
        <div id="ubc7-unit" class="row-fluid expand">
            <div class="span12">
                <!-- Mobile Menu Icon -->
                <div class="navbar">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target="#ubc7-unit-navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <!-- Read more about Unit Name Treatment on http://brand.ubc.ca/clf -->
                <div id="ubc7-unit-name" class="ubc7-single-element">
                    <a href="/sscportal/servlets/SSCMain.jsp"><span id="ubc7-unit-identifier">Student Grade Service Centre</span></a>
                    
                </div>
            </div>
        </div>
        <!-- End of UBC Unit Identifier -->
        <!-- UBC Unit Navigation -->
        <div id="ubc7-unit-menu" class="navbar expand" role="navigation">
            <div class="navbar-inner expand">
                <div class="container">
                    <div class="nav-collapse collapse" id="ubc7-unit-navigation">
                         <div id="cwl" class="pull-right">
                            <a href="/daprs202grades">
                              <img src="https://www.auth.cwl.ubc.ca/CWL_login_button.gif " width="76" height="25" alt="CWL Login" border="0">
                            </a>
                        </div>  
                         </div><!-- /.nav-collapse -->
                </div>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
        <!-- End of UBC Unit Navigation -->
        <!-- UBC Unit Breadcrumbs -->
            








<ul class="breadcrumb expand">
    

    <li>
       <a href="/sscportal/servlets/SSCMain.jsp">Home</a> 
    </li>

</ul><!-- End of UBC Unit Breadcrumbs -->
        <!-- Content Area -->
        <div class="content expand">
            <div class="row-fluid expand">
            
            
            
            
            
            
            
             

<!-- NOT LOGGED IN  -->
    <div class="span6">
        














  <H2>Login</H2>
  <p>For applications, awards, exam schedules, fees, grades, registration, transcripts, and more...</p>

<br/>
<a href="daprs202grades">
  <img src="https://www.auth.cwl.ubc.ca/CWL_login_button.gif " width="76" height="25" alt="CWL Login" border="0">
</a>
<br/><br/><div id="help-and-tutorials " class="list-vertical alert alert-info">
          





	<h3>Need help?</h3>
	<ul>
		<li><a href="#" onclick="openFAQDialog();">FAQs</a></li>
		<li><a href="#" onclick="openFAQDialog('','VideoTutorials');">Video Tutorials</a></li>
		<li><a href="#" onclick="openFAQDialog('ContactUs','ContactUs3');">Technical Support</a></li>
		<li><a target="ssc_help" href="http://www.askme.ubc.ca">Ask Me @ UBC</a></li>
	</ul></div>
    </div>
    <div class="span6"> 
        










<h3>SSC Headlines</h3>


    <p id="0_title" class="ssc-title">SSC Scheduled Outage</p>
    <p class="ssc-posted-date">posted July      21, 2022</p>
    <div id="0_title_text" class="ssc-content">
        <div class="ssc-text">The Student Service Centre (SSC) will be undergoing system maintenance during the following times:<br>

<p style="text-indent: 20px"> <b> -  Sat, Jul 30, 2022 from 10:00 am to 1:00 am PST</b></p> 
<p style="text-indent: 20px"> <b> -  Tues, Aug 9, 2022 from 7:00 pm to 11:00 am PST</p></b> 
<br>
On Sat, Jul 30, the SSC will be available during the maintenance period, but you will experience service disruptions. On Aug 9, the SSC will be unavailable during the maintenance period. 

<br><br> 

Please check <a href="http://bulletins.it.ubc.ca/">IT Bulletins</a> for details and updates.</div>
    </div>

   
</div>
     <!-- NOT LOGGED IN  -->
</div>
        </div>
        <!-- End of Content Area -->
        
        <footer id="ubc7-footer" class="expand" role="contentinfo">
            <div class="row-fluid expand" id="ubc7-unit-footer">
                <div class="span10" id="ubc7-unit-address">
                    <div id="ubc7-address-location">
                        <span id="ubc7-address-city">Vancouver | Kelowna</span>, <span id="ubc7-address-province" title="British Columbia">BC</span> <span id="ubc7-address-country">Canada</span>
                    </div>
                    <div id="ubc7-address"><a href="https://www.askme.ubc.ca/form/s/" target="_blank" class="active">Contact Us</a></div>
                </div>
            </div>
            <div class="row-fluid expand ubc7-back-to-top">
                <div class="span2">
                    <a href="#">Back to top <div class="ubc7-arrow up-arrow grey"></div></a>
                </div>
            </div>
            <div class="row-fluid expand" id="ubc7-global-footer">
                <div class="span5" id="ubc7-signature"><a href="//www.ubc.ca/">The University of British Columbia</a></div>
                <div class="span7" id="ubc7-footer-menu">
                </div>
            </div>
            <div class="row-fluid expand" id="ubc7-minimal-footer">
                <div class="span12">
                    <ul>
                        <li><a href="//cdn.ubc.ca/clf/ref/emergency">Emergency Procedures</a> <span class="divider">|</span></li>
                        <li><a href="//cdn.ubc.ca/clf/ref/terms">Terms of Use</a> <span class="divider">|</span></li>
                        <li><a href="//cdn.ubc.ca/clf/ref/copyright">Copyright</a> <span class="divider">|</span></li>
                        <li><a href="//cdn.ubc.ca/clf/ref/accessibility">Accessibility</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div> <!-- /container -->
    <!-- Placed javascript at the end for faster loading -->
    
    <script src="/static/ubcclf/7.0.4/js/ubc-clf.min.js"></script>
    <script type="text/javascript" src="/static/shared/scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/shared/scripts/jquerypager.js"></script>
    <script type="text/javascript" src="/static/shared/scripts/utilities.js?v=20220712170456"></script>
    <script type="text/javascript" src="/static/shared/scripts/popupMessage.js?v=20220712170456"></script>
    <script type="text/javascript" src="/static/shared/scripts/toggle.js?v=20220712170456"></script>
    <script type="text/javascript" src="/static/shared/scripts/hoverIntent.js?v=20220712170456"></script>
    <script type="text/javascript" src="/static/ssc/scripts/ubc-functions.js?v=20220712170456"></script>
    <script type="text/javascript" src="/static/ssc/scripts/ubc.js?v=20220712170456"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAoRs91XgpKw60K4liNrOHoBStNMhZCa0lqZKLUDgzjZGRsKl38xSnSmVmaulnWVdBLItzW4KsddHCzA"></script>
        
</body>
</html>