<!DOCTYPE>
<html>
	<head>
		<title>Personal Expenses Website </title>
        <link rel="shortcut icon" href="../static/favicon.ico" />
        <link rel="shortcut icon" sizes="114x114" href="../static/favicon.ico" />
        <link rel="shortcut icon" sizes="72x72" href="../static/favicon.ico" />

		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body style="text-align: center;">
		<ul>
		  <li class="LOGOSF">Personal Expenses Website</h1></a></li>
		</ul>
		<h1 class="LOGO">Personal Expenses Website</h1>


<div class="thestarter">
		<h4 id="firstparagraph"> In the project we were thought how to control a photon with a website which can both be used online and on our phones. <br> this will allow us to have a big range of people intersted in trying our product the <b><u style="color: #f24343;"> SMART ROOM </u></b></h4>
    <h4>THE HIGHEST TEMPERATURE IS:</h4>
    <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: "Courier>{{ highest.temperature }}</h4>
        <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: "Courier";">{{ highest.reading_date }}</h4>

    <h4>THE LOWEST TEMPERATURE IS:</h4>
    <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: "Courier";">{{lowest.temperature}}</h4>
        <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: "Courier";">{{ lowest.reading_date }}</h4>
		</div>
		<form method="post" action="/handle">
			Location <input id="textbox"type="text" name="locationsss"/><br>
			<input type="submit" value="Send"/>
		</form>
		<form method="post" action="/handle">
			Temperature <input id="textbox"type="text" name="temperature"/><br>
			<input type="submit" value="Send"/>
		</form>

		<form method="post" action="/deletedatabase"><input type="submit" value="DELETE"/></form>
		<table>
		<h1 class="LOGO" style="text-align: center;"> HISTORY: </h1>
            <thead>
            <th>ID</th>
            <th>Date</th>
			<th>Amount</th>
			<th>Location</th>
            </thead>
            <tbody>
            {%  for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.reading_date|format_date}}</td>
				<td> {{ record.temperature}}</td>
				<td>{{record.locationsss}}</td> 
            </tr>
            {% else %}
            <tr>
                <td colspan= "2"><h1 class="LOGO" style="text-align: center;"> THERE IS NO DATA GO AWAY</h1></td>
            </tr>
            {% endfor %}
            </tbody>
		</table>

		<h4 id="signature">Candidate Number: XXXX</h4>
	</body>
	</html>