<html>
	<head>
		<title>Personal Expense </title>
        <link rel="shortcut icon" href="../static/favicon.ico" />
        <link rel="shortcut icon" sizes="114x114" href="../static/favicon.ico" />
        <link rel="shortcut icon" sizes="72x72" href="../static/favicon.ico" />


		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body style="text-align: center;">
	
		<img src="../static/logo.png" style="height: 100px;">
<div class="thestarter">
    <h2 style="text-align: center;
    color:#f24343;
    font-size:30px;
    font-family: Courier">How It Works:</h2>

		<h4 style="text-align: center;
        color:black;
        font-size:15px;
        font-family:sans-serif">
            Dear client, Welcome to your Personal Expense App</h4>
            <div class="popup" onclick="myFunction()" style="text-align: center;
            color: green;
            font-size:20px;
            font-family: sans-serif">Get Started
                    <span class="popuptext" id="myPopup" style="text-align: center;
                    color:white;
                    font-size:15px;
                    font-family: 'Gill Sans'">To get started just add an amount and the location, date will be generated automicatlly</span>
                  </div>
    <h4 style="text-align: center;
    color: black;
    font-size:20px;
    font-family: sans-serif">The highest spending is:</h4>
    <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: Courier">{{ highest.famount }}</h4>
     <h4  style="text-align: center;
     color:black;
     font-size:20px;
     font-family: sans-serif">Date</h4>

        <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: Courier">{{ highest.reading_date|format_date}}</h4>

<h4 style="text-align: center;
color:black;
font-size:20px;
font-family: sans-serif">Location:</h4>
<h4 style="text-align: center;
    color:#f24343;
    font-size:20px;
    font-family: Courier">{{ highest.locations }}</h4>

    <h4 style="text-align: center;
    color:black;
    font-size:20px;
    font-family: sans-serif">The lowest spending is:</h4>
    <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family:Courier">{{lowest.famount}}</h4>
    <h4 style="text-align: center;
    color:black;
    font-size:20px;
    font-family: sans-serif">Date:</h4>
        <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: Courier">{{ lowest.reading_date|format_date }}</h4>
    <h4 style="text-align: center;
    color:black;
    font-size:20px;
    font-family: sans-serif">Location:</h4>
    <h4 style="text-align: center;
        color:#f24343;
        font-size:20px;
        font-family: Courier">{{ lowest.locations }}</h4>
        <form method="post" action="/handle">
            Amount <input id="textbox"type="number" step="0.01" name="amount"/><br>
            <form method="post" action="/handle">
                Location <input id="textbox"type="text" name="location"/><br>
            <input type="submit" value="Send"/>
        </form>
        <form method="post" action="/deletedatabase">
            Amount <input id="textbox"type="number" name="amount"/><br>
        <form method="post" action="/deletedatabase"><input type="submit" value="Delete"/></form>
       
        
		</div>

		<table>
		<h1 class="LOGO" style="text-align: center;"> New Transactions: </h1>
            <thead>
            <th>ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Location</th>
            </thead>
            <tbody>
            {%  for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.reading_date|format_date}}</td>
                <td> {{ record.famount}}</td>
                <td>{{ record.locations}} </td>
            </tr>
            {% else %}
            <tr>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <table>
            <h1 class="LOGO" style="text-align: center;"> Weekly Spending: </h1>
                <thead>
                <th>Day of the Week:</th>
                <th> Total Amount</th>
                </thead>
                <tbody>
                {%  for record in records %}
                <tr>
                    <td>Monday</td>
                    <td> {{ record.famount}}</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td> {{ record.famount}}</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td> {{ record.famount}}</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td> {{ record.famount}}</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td> {{ record.famount}}</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td> {{ record.famount}}</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td> {{ record.famount}}</td>
                </tr>
                {% else %}
                <tr>
                </tr>
                {% endfor %}
              
                </tbody>
            </table>

		<h4 id="signature"> Candidate Number: XXXXX</h4>
	</body>
    </html>
    <script>
            // When the user clicks on <div>, open the popup
            function myFunction() {
              var popup = document.getElementById("myPopup");
              popup.classList.toggle("show");
            }
            </script>