<html><head>
    <title>UBC Student Service Centre - Grades Summary</title>
    <link rel="stylesheet" href="studentServiceCentre.css" type="text/css">
    <link rel="stylesheet" href="jquery-ui.css" type="text/css">
    <script language="JavaScript" src="grades.js" type="text/javascript"></script>
    <script language="JavaScript" src="jquery-1.8.3.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
    <script language="JavaScript" src="init.js"></script>
    <link href="ssc.css" rel="stylesheet" type="text/css" media="screen">
    <script language="JavaScript" src="tablesorter.js"></script>
    <script language="JavaScript" src="ubc-functions.js" type="text/javascript"></script>

    <style type="text/css">

        .tabs-nav li {
            border-color: #0045A9;
        }

        .tabs-selected {
            background-color: #0045A9;
        }

        .tabs-nav .tabs-selected a {
            color: white;
        }
    </style>

    <script type="text/javascript">
        <!--
	    parent.CurrentDate = "02/08/2022";
	    parent.StudNo = "90977257";
	    parent.StudName = "Silva, Diogo";

        var currentTab = 'all';

        $(document).ready(function() {
            sscTitleToggle("grades",true);
            $('#tabs').tabs({
                activate: function( event, ui ) {
                    parent.resizeIframeDiv();
                }
            });
        });

        var doTop = false;

        function refreshTop(maxCredits) {

            doTop = true;
            $("#tabs-"+currentTab+" .listHighlight").toggleClass("listHighlight");
            if (!maxCredits) {
                maxCredits = parseInt($("#topCred").val())
            }
            if (isNaN(maxCredits) || maxCredits == 0) {
                recalculate();
                return;
            }
            tdArray = $("#tabs-"+currentTab+" td.grade").get();
            tdArray.sort(
                    function(tdA, tdB) {
                        gradeA = parseInt($(tdA).attr("grade"));
                        if (isNaN(gradeA)) {
                            return 1;
                        }
                        gradeB = parseInt($(tdB).attr("grade"));
                        if (isNaN(gradeB)) {
                            return -1;
                        }
                        return gradeB - gradeA;
                    }
            );
            totalCredits = 0;
            totalGrade = 0;
            for (i=0; i<tdArray.length; i++) {
                element = tdArray[i];
                credits = parseFloat($(element).attr("credits"));
                grade = parseFloat($(element).attr("grade"));
                if (!(isNaN(credits) || isNaN(grade) || credits == 0.0)) {
                    if (totalCredits < maxCredits ) {
                        if (totalCredits + credits > maxCredits) {
                            credits = maxCredits - totalCredits;
                        }
                        totalGrade += (credits * grade);
                        totalCredits += (credits)
                        $(element).parent().addClass("listHighlight");
                        $(element).parent().children().addClass("listHighlight");
                    }
                }
            }
            var avgGrade = Math.round(totalGrade / totalCredits * 10 )/10;
            $("#calculator_result").text(isNaN(avgGrade) ? "0%" : avgGrade + "%");
        }

        function calculate() {
            if (doTop) {
                refreshTop();
            } else {
                recalculate();
            }
        }

        function recalculate() {
            doTop = false;
            var numSelected = $("#tabs-"+currentTab+" tr.listHighlight").size();
            var totalCredits = 0;
            var totalGrade = 0;
            $("#tabs-"+currentTab+" td.grade").each(
                    function(i) {
                        if ($(this).hasClass("listHighlight")) {
                            grade = parseInt($(this).text());
                            credits = parseFloat($(this).attr("credits"));
                            if (!(isNaN(grade) || isNaN(credits))) {
                                totalCredits += credits;
                                totalGrade += (credits * grade);
                            }
                        }
                    }
            );
            var avgGrade = Math.round(totalGrade / totalCredits * 10 )/10;
            $("#calculator_result").text(isNaN(avgGrade) ? "0%" : avgGrade + "%");
        }
        -->
    </script>


</head>

<body style="background-color: white; background-image: none;"><div id="printer" onclick="printWindow()" class="noPrint">Print</div><div id="header-invisible" class="onlyPrint"><div><img src="/static/ssc/images/ubc_print_header.png" alt="UBC"></div><div id="printingInfo" style="color: black; top:2px; right:0; text-align: right;"><b>Name:</b><span id="studName">&nbsp;</span>&nbsp;&nbsp;&nbsp;<b>#:</b><span id="studNo">&nbsp;</span>&nbsp;&nbsp;&nbsp;<b>Date:</b><span id="currentDate">&nbsp;</span></div></div>

<script type="text/javascript">
    var appl_context='/sscportal';
</script>

<h1>Your Grades Summary</h1>
    <!-- Sessions -->
    <div id="tabs-all" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
        <table id="allSessionsGrades" width="100%" class="sortable">
            <tbody><tr class="listHeader">
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column0">Course</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column1">Section</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column2">Grade</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column3">Letter</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column4">Session</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column5">Term</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column6">Program</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column7">Year</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column8">Credits Earned</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column9">Class Avg</span></td>
                <td class="listHeader" align="center" style="cursor: pointer;"><span onclick="ts_resortTable(this);" class="sortarrow" id="column10">Standing</span></td>
            </tr>

            <tr id="row-all-0" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-0 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">MATH&nbsp;220</td>
                <td class="listRow" align="center">2W1</td>
                <td class="listRow " grade="&nbsp;" credits="0.0" align="center">&nbsp;</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center">2022W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">3</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
            </tr>

            
            <tr id="row-all-0" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-0 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">CPSC&nbsp;320</td>
                <td class="listRow" align="center">2W1</td>
                <td class="listRow " grade="&nbsp;" credits="0.0" align="center">&nbsp;</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center">2022W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">3</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
            </tr>

            <tr id="row-all-0" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-0 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">CPSC&nbsp;310</td>
                <td class="listRow" align="center">2W1</td>
                <td class="listRow " grade="&nbsp;" credits="0.0" align="center">&nbsp;</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center">2022W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">3</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-1" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-1 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">GEOG&nbsp;121</td>
                <td class="listRow" align="center">102</td>
                <td class="listRow " grade="&nbsp;" credits="3.0" align="center">&nbsp;</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center">2022W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">3</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-2" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-2 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">DES&nbsp;220</td>
                <td class="listRow" align="center">WL1</td>
                <td class="listRow " grade="&nbsp;" credits="0.0" align="center">&nbsp;</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center">2022W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">3</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-3" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-3 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">DES&nbsp;200</td>
                <td class="listRow" align="center">001</td>
                <td class="listRow " grade="&nbsp;" credits="3.0" align="center">&nbsp;</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center">2022W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">3</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-4" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-4 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">DES&nbsp;110</td>
                <td class="listRow" align="center">WL1</td>
                <td class="listRow " grade="&nbsp;" credits="0.0" align="center">&nbsp;</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center">2022W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">3</td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-5" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-5 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">CPSC&nbsp;213</td>
                <td class="listRow" align="center">102</td>
                <td class="listRow grade" grade="74" credits="4.0" align="center">84</td>
                <td class="listRow" align="center">A-</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">4.0</td>
                <td class="listRow" align="center">77</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-6" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-6 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">MATH&nbsp;200</td>
                <td class="listRow" align="center">101</td>
                <td class="listRow grade" grade="22" credits="3.0" align="center">44</td>
                <td class="listRow" align="center">F</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">0.0</td>
                <td class="listRow" align="center">69</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-7" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-7 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">MATH&nbsp;221</td>
                <td class="listRow" align="center">103</td>
                <td class="listRow grade" grade="33" credits="3.0" align="center">78</td>
                <td class="listRow" align="center">B+</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">72</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-8" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-8 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">PORT&nbsp;101</td>
                <td class="listRow" align="center">102</td>
                <td class="listRow grade" grade="86" credits="3.0" align="center">92</td>
                <td class="listRow" align="center">A+</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">80</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-9" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-9 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">STAT&nbsp;251</td>
                <td class="listRow" align="center">101</td>
                <td class="listRow grade" grade="44" credits="3.0" align="center">83</td>
                <td class="listRow" align="center">A-</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">76</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-10" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-10 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">CPSC&nbsp;221</td>
                <td class="listRow" align="center">201</td>
                <td class="listRow grade" grade="62" credits="4.0" align="center">81</td>
                <td class="listRow" align="center">A-</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">4.0</td>
                <td class="listRow" align="center">80</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-11" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-11 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">MATH&nbsp;200</td>
                <td class="listRow" align="center">202</td>
                <td class="listRow grade" grade="54" credits="3.0" align="center">54</td>
                <td class="listRow" align="center">D</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">69</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-12" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-12 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">POLI&nbsp;101</td>
                <td class="listRow" align="center">204</td>
                <td class="listRow " grade="&nbsp;" credits="3.0" align="center">87</td>
                <td class="listRow" align="center">A+</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">84</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-13" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-13 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">PORT&nbsp;102</td>
                <td class="listRow" align="center">201</td>
                <td class="listRow grade" grade="74" credits="3.0" align="center">94</td>
                <td class="listRow" align="center">A+</td>
                <td class="listRow" align="center">2021W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">81</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-14" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-14 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">WRDS&nbsp;150A</td>
                <td class="listRow" align="center">312</td>
                <td class="listRow grade" grade="70" credits="3.0" align="center">70</td>
                <td class="listRow" align="center">B-</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">69</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-15" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-15 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">MATH&nbsp;105</td>
                <td class="listRow" align="center">201</td>
                <td class="listRow grade" grade="83" credits="3.0" align="center">83</td>
                <td class="listRow" align="center">A-</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">73</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-16" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-16 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">CPSC&nbsp;210</td>
                <td class="listRow" align="center">203</td>
                <td class="listRow grade" grade="73" credits="4.0" align="center">79</td>
                <td class="listRow" align="center">B+</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">4.0</td>
                <td class="listRow" align="center">80</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-17" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-17 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">CPSC&nbsp;121</td>
                <td class="listRow" align="center">202</td>
                <td class="listRow grade" grade="75" credits="4.0" align="center">80</td>
                <td class="listRow" align="center">A-</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">2</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">4.0</td>
                <td class="listRow" align="center">77</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-18" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-18 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">SPAN&nbsp;312B</td>
                <td class="listRow" align="center">101</td>
                <td class="listRow grade" grade="82" credits="3.0" align="center">87</td>
                <td class="listRow" align="center">A+</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">84</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-19" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-19 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">SPAN&nbsp;221</td>
                <td class="listRow" align="center">101</td>
                <td class="listRow grade" grade="78" credits="3.0" align="center">85</td>
                <td class="listRow" align="center">A+</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">3.0</td>
                <td class="listRow" align="center">83</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-20" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-20 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">MATH&nbsp;184</td>
                <td class="listRow" align="center">101</td>
                <td class="listRow grade" grade="74" credits="4.0" align="center">79</td>
                <td class="listRow" align="center">B+</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">4.0</td>
                <td class="listRow" align="center">76</td>
                <td class="listRow" align="center"></td>
            </tr>
            
            <tr id="row-all-21" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-all-21 td').toggleClass('listHighlight'); recalculate()">
                <td class="listRow" align="center">CPSC&nbsp;110</td>
                <td class="listRow" align="center">103</td>
                <td class="listRow grade" grade="78" credits="4.0" align="center">82</td>
                <td class="listRow" align="center">A-</td>
                <td class="listRow" align="center">2020W</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">BA</td>
                <td class="listRow" align="center">1</td>
                <td class="listRow" align="center">4.0</td>
                <td class="listRow" align="center">78</td>
                <td class="listRow" align="center"></td>
            </tr>
            
        </tbody></table>

    </div>
    

    <div id="tabs-2022W" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        
            2022W Term 1 grades for your program are not available until December 23, 2022<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- 0 REGI -->
<!-- 1 2022-07-07 -->
<!-- 2 2 -->
<!-- 3 902244957 -->
<!-- 4 Bachelor of Arts                                   -->
<!-- 5  -->
<!-- 6  -->
<!-- 7 Vancouver                                          -->

            <tbody><tr><td>&nbsp;</td></tr>
            <tr>
                <td colspan="10"><div class="listTitle">Summary</div>
                    <table width="100%" border="1">
                        <tbody><tr><td colspan="10" class="listRow"><b>Program</b></td><td class="listRow" width="60%">Bachelor of Arts                                  </td></tr>
                        
                        
                        <tr><td colspan="10" class="listRow"><b>Year Level</b></td><td class="listRow" width="60%">2</td></tr>
                        
                    </tbody></table><br>
            </td></tr><tr>
                <td class="listHeader">Term</td>
                <td class="listHeader">Course</td>
                <td class="listHeader">Section</td>
                <td class="listHeader">Term</td>
                <td class="listHeader">Pct %</td>
                <td class="listHeader">Grade</td>
                <td class="listHeader">Stdg</td>
                <td class="listHeader">Credits<br>Earned</td>
                <td class="listHeader">Class<br>Average</td>
                <td class="listHeader">Class<br>Size</td>
            </tr>
            
            <tr id="row-2022W-1" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2022W-1 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">DES &nbsp;110</td>
                <td class="listRow">WL1</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow " grade="&nbsp;" credits="0.0">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>

            </tr>
            
            <tr id="row-2022W-2" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2022W-2 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">DES &nbsp;200</td>
                <td class="listRow">001</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow " grade="&nbsp;" credits="3.0">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>

            </tr>
            
            <tr id="row-2022W-3" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2022W-3 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">DES &nbsp;220</td>
                <td class="listRow">WL1</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow " grade="&nbsp;" credits="0.0">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>

            </tr>
            
            <tr id="row-2022W-4" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2022W-4 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">GEOG&nbsp;121</td>
                <td class="listRow">102</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow " grade="&nbsp;" credits="3.0">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>

            </tr>
            
            <tr id="row-2022W-5" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2022W-5 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">CPSC&nbsp;320</td>
                <td class="listRow">2W1</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow " grade="&nbsp;" credits="0.0">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>

            </tr>



             <!-- end of sessions if-else -->
        </tbody></table>
    </div><!-- end of sessions table --> 

    <div id="tabs-2021W" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- 0 REGI -->
<!-- 1 2021-07-21 -->
<!-- 2 2 -->
<!-- 3 902244957 -->
<!-- 4 Bachelor of Arts                                   -->
<!-- 5  -->
<!-- 6  -->
<!-- 7 Vancouver                                          -->

            <tbody><tr><td>&nbsp;</td></tr>
            <tr>
                <td colspan="10"><div class="listTitle">Summary - Vancouver                                          Campus</div>
                    <table width="100%" border="1">
                        <tbody><tr><td colspan="10" class="listRow"><b>Program</b></td><td class="listRow" width="60%">Bachelor of Arts                                  </td></tr>
                        
                        
                        <tr><td colspan="10" class="listRow"><b>Year Level</b></td><td class="listRow" width="60%">2</td></tr>
                        
                        
                        
                        
                        
                    </tbody></table><br>
            </td></tr><tr>
                <td class="listHeader">Term</td>
                <td class="listHeader">Course</td>
                <td class="listHeader">Section</td>
                <td class="listHeader">Term</td>
                <td class="listHeader">Pct %</td>
                <td class="listHeader">Grade</td>
                <td class="listHeader">Stdg</td>
                <td class="listHeader">Credits<br>Earned</td>
                <td class="listHeader">Class<br>Average</td>
                <td class="listHeader">Class<br>Size</td>
            </tr>
            
            <tr id="row-2021W-1" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-1 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">CPSC&nbsp;213</td>
                <td class="listRow">102</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="74" credits="4.0">74</td>
                
                <td class="listRow">B</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">4.0</td>
                
                <td class="listRow">76</td>
                
                <td class="listRow">124</td>

            </tr>
            
            <tr id="row-2021W-2" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-2 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">MATH&nbsp;200</td>
                <td class="listRow">101</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="22" credits="3.0">22</td>
                
                <td class="listRow">F</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">0.0</td>
                
                <td class="listRow">69</td>
                
                <td class="listRow">161</td>

            </tr>
            
            <tr id="row-2021W-3" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-3 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">MATH&nbsp;221</td>
                <td class="listRow">103</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="33" credits="3.0">33</td>
                
                <td class="listRow">F</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">0.0</td>
                
                <td class="listRow">68</td>
                
                <td class="listRow">113</td>

            </tr>
            
            <tr id="row-2021W-4" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-4 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">PORT&nbsp;101</td>
                <td class="listRow">102</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="86" credits="3.0">86</td>
                
                <td class="listRow">A</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">3.0</td>
                
                <td class="listRow">80</td>
                
                <td class="listRow">19</td>

            </tr>
            
            <tr id="row-2021W-5" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-5 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">STAT&nbsp;251</td>
                <td class="listRow">101</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="44" credits="3.0">44</td>
                
                <td class="listRow">F</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">0.0</td>
                
                <td class="listRow">76</td>
                
                <td class="listRow">367</td>

            </tr>
            
            <tr id="row-2021W-6" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-6 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">CPSC&nbsp;221</td>
                <td class="listRow">201</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow grade" grade="62" credits="4.0">62</td>
                
                <td class="listRow">C</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">4.0</td>
                
                <td class="listRow">81</td>
                
                <td class="listRow">182</td>

            </tr>
            
            <tr id="row-2021W-7" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-7 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">MATH&nbsp;200</td>
                <td class="listRow">202</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow grade" grade="54" credits="3.0">54</td>
                
                <td class="listRow">D</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">3.0</td>
                
                <td class="listRow">69</td>
                
                <td class="listRow">170</td>

            </tr>
            
            <tr id="row-2021W-8" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-8 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">MATH&nbsp;220</td>
                <td class="listRow">204</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow " grade="&nbsp;" credits="3.0">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">SD</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">&nbsp;</td>

            </tr>
            
            <tr id="row-2021W-9" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2021W-9 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">PORT&nbsp;102</td>
                <td class="listRow">201</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow grade" grade="74" credits="3.0">74</td>
                
                <td class="listRow">B</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">3.0</td>
                
                <td class="listRow">83</td>
                
                <td class="listRow">15</td>

            </tr>
            


             <!-- end of sessions if-else -->
        </tbody></table>
    </div><!-- end of sessions table --> 

    <div id="tabs-2020W" aria-labelledby="ui-id-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- 0 REGI -->
<!-- 1 2020-07-02 -->
<!-- 2 1 -->
<!-- 3 902244957 -->
<!-- 4 Bachelor of Arts                                   -->
<!-- 5  -->
<!-- 6  -->
<!-- 7 Vancouver                                          -->

            <tbody><tr><td>&nbsp;</td></tr>
            <tr>
                <td colspan="10"><div class="listTitle">Summary - Vancouver                                          Campus</div>
                    <table width="100%" border="1">
                        <tbody><tr><td colspan="10" class="listRow"><b>Program</b></td><td class="listRow" width="60%">Bachelor of Arts                                  </td></tr>
                        
                        
                        <tr><td colspan="10" class="listRow"><b>Year Level</b></td><td class="listRow" width="60%">1</td></tr>
                        
                        
                        <tr><td colspan="10" class="listRow"><b>Sessional Standing</b></td><td class="listRow" width="60%">Passed</td></tr>
                        
                        
                    </tbody></table><br>
            </td></tr><tr>
                <td class="listHeader">Term</td>
                <td class="listHeader">Course</td>
                <td class="listHeader">Section</td>
                <td class="listHeader">Term</td>
                <td class="listHeader">Pct %</td>
                <td class="listHeader">Grade</td>
                <td class="listHeader">Stdg</td>
                <td class="listHeader">Credits<br>Earned</td>
                <td class="listHeader">Class<br>Average</td>
                <td class="listHeader">Class<br>Size</td>
            </tr>
            
            <tr id="row-2020W-1" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-1 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">CPSC&nbsp;110</td>
                <td class="listRow">103</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="78" credits="4.0">78</td>
                
                <td class="listRow">B+</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">4.0</td>
                
                <td class="listRow">78</td>
                
                <td class="listRow">236</td>

            </tr>
            
            <tr id="row-2020W-2" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-2 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">MATH&nbsp;184</td>
                <td class="listRow">101</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="74" credits="4.0">74</td>
                
                <td class="listRow">B</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">4.0</td>
                
                <td class="listRow">76</td>
                
                <td class="listRow">214</td>

            </tr>
            
            <tr id="row-2020W-3" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-3 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">SPAN&nbsp;221</td>
                <td class="listRow">101</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="78" credits="3.0">78</td>
                
                <td class="listRow">B+</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">3.0</td>
                
                <td class="listRow">83</td>
                
                <td class="listRow">31</td>

            </tr>
            
            <tr id="row-2020W-4" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-4 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">1</td>
                <td class="listRow">SPAN&nbsp;312</td>
                <td class="listRow">101</td>
                
                <td class="listRow">1</td>
                
                <td class="listRow grade" grade="82" credits="3.0">82</td>
                
                <td class="listRow">A-</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">3.0</td>
                
                <td class="listRow">84</td>
                
                <td class="listRow">21</td>

            </tr>
            
            <tr id="row-2020W-5" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-5 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">CPSC&nbsp;121</td>
                <td class="listRow">202</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow grade" grade="75" credits="4.0">75</td>
                
                <td class="listRow">B</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">4.0</td>
                
                <td class="listRow">77</td>
                
                <td class="listRow">171</td>

            </tr>
            
            <tr id="row-2020W-6" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-6 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">CPSC&nbsp;210</td>
                <td class="listRow">203</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow grade" grade="73" credits="4.0">73</td>
                
                <td class="listRow">B</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">4.0</td>
                
                <td class="listRow">80</td>
                
                <td class="listRow">155</td>

            </tr>
            
            <tr id="row-2020W-7" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-7 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">MATH&nbsp;105</td>
                <td class="listRow">201</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow grade" grade="83" credits="3.0">83</td>
                
                <td class="listRow">A-</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">3.0</td>
                
                <td class="listRow">73</td>
                
                <td class="listRow">118</td>

            </tr>
            
            <tr id="row-2020W-8" class="listRow" style="cursor: pointer" onclick="$('#manRadio').attr('checked',true); $('#row-2020W-8 td').toggleClass('listHighlight'); recalculate()">
                
                <td class="listRow">2</td>
                <td class="listRow">WRDS&nbsp;150</td>
                <td class="listRow">312</td>
                
                <td class="listRow">2</td>
                
                <td class="listRow grade" grade="70" credits="3.0">70</td>
                
                <td class="listRow">B-</td>
                
                <td class="listRow">&nbsp;</td>
                
                <td class="listRow">3.0</td>
                
                <td class="listRow">69</td>
                
                <td class="listRow">24</td>

            </tr>
            


             <!-- end of sessions if-else -->
        </tbody></table>
    </div><!-- end of sessions table -->  <!-- end of sessions while loop --> <!-- End Page Content -->
</div>
<!-- Footer -->
<script type="text/javascript" src="/static/shared/scripts/footer.js"></script>

</body></html>